<div xmlns:th="http://www.thymeleaf.org">
	<h1>게시글 정보</h1>
	<div>
		<span th:text="${bbs.bid}"></span>
		<span th:text="${bbs.title}"></span>
		작성자 : <span th:text="${bbs.uid}"></span>
		<br>
		작성일 : <span th:text="${bbs.regDate}"></span>
		조회수 : <span th:text="${bbs.viewcnt}"></span>
		<hr>
		<span th:text="${bbs.contents}" style="white-space: pre-wrap;"></span>
	</div>
	
	<div id="buttons">
		<button id="btn-update">수정</button>
		<button id="btn-delete">삭제</button>
	</div>
</div>

<script>
	const uid="[[${bbs.uid}]]";
	const bid="[[${bbs.bid}]]";
	
	if(user.uid==uid){
		$("#buttons").show();
	}else{
		$("#buttons").hide();
	}
	$("#btn-update").on("click",function(){
		location.href="/bbs/update/"+bid
	})
	
	$("#btn-delete").on("click",function(){
		if(!confirm(bid+ " 번 게시글을 삭제하시겠습니까?"))  return;
		$.ajax({
			type:"post",
			url:"/bbs/delete/"+bid,
			data:{bid},
			success:function(){
				alert("삭제완료!")
				location.href="/bbs/list";
			}
		})
	})
</script>