<div xmlns:th="http://www.thymeleaf.org">
	<form name=frm>
		<input name="title" size="80" placeholder="제목을 입력하세요"><br>
		<textarea name="contents" rows=10 cols=80 placeholder="내용을 입력하세요"></textarea>
		<div>
			<button>글쓰기</button>
			<button type="reset">취소</button>
		</div>
	</form>
</div>

<script>
	const uid = user.uid;
	$(frm).on("submit",function(e){
		e.preventDefault();
		const title=$(frm.title).val();
		const contents=$(frm.contents).val();
		if(title==""){
			alert("제목을 입력하세요!")
			return;
		}
		//저장하기
		$.ajax({
			type:"post",
			url:"/bbs/insert",
			contentType:"application/json",
			data:JSON.stringify({contents,title,uid}),
			success:function(){
				alert("게시글을 작성하였습니다.")
				location.href="/bbs/list";
			}
		})
	})
</script>
